/* Class styles */
p.copyright
{
    font-size:100%;
}

.orange
{
    color: hsl(14, 100%, 57%);
}
.centered_instructions
{
    text-align: center;
    padding-bottom:0;
    padding-top:0;
    font-size: 100%;
}

.centered
{
    padding-top: 0;
    margin-top: 0;
    text-align: center !important;
    margin-bottom: 1em;
}

.caption
{
    font-size: 120%;
}

img.project_pic
{
    width: 100%;
    max-width: 920px;
}


div.top-container
{
    background-color: hsl(199, 98%, 45%);
    padding-top:3em;
}

img.portrait
{
    border-radius:50%;
    border:1.5em solid hsl(14, 100%, 57%);
    display:block;
    width: 20%;
    min-width: 380px;
    margin: auto;
    box-shadow: 0px 0px 0px 1em hsl(199, 98%, 98%);
}

section.title
{
    background-color: hsl(199, 98%, 60%);
    margin-bottom:0;
}

h1
{
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: hsl(199, 98%, 98%);
    font-size: 500%;
    margin-top:0.6em;
    line-height: 1.5em;
}

section.body
{
    text-align: center;
    padding-top:1.5em;
    background-color: white;
    border-bottom: 1px transparent solid;
}

a
{
    color:hsl(199, 98%, 45%);
}

strong
{
    font-size:200%;
}

p
{
    display:block;
    margin: auto;
    padding:2em;
    padding-bottom:0;
    text-align: left;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: hsl(199, 98%, 45%);
    font-size: 150%;
    max-width: 48em;
    line-height: 1.5em;
    border-bottom: 1px transparent solid ;
}


section
{
    margin-bottom: 5em;
}

address
{
    font-style: normal;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: hsl(199, 98%, 95%);
    font-size: 150%;
    color:hsl(199, 98%, 45%);
}

footer
{
    width:100%;
    padding-top: 5em;
    padding-bottom: 5em;
}

span
{
    font-weight: bolder;
}

[class^='imghvr-'],
[class*=' imghvr-'] {
    background-color: #029ce3;
}
